<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/css/prism.css"  />
    <link rel="stylesheet" href="/static/css/solid.min.css">
    <link rel="stylesheet" href="/static/css/brands.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                     XS-Leaks </a>
                <small>finding XS-Leaks with element groups</small>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                <span class="fa-solid fa-screwdriver-wrench"></span> Admin </a>
                        </li>
                         <li class="nav-item">
                            <!-- <a class="nav-link" href="https://github.com/..."><span class="fab fa-github"></span> Source</a> -->
                            <a class="nav-link" href="/getelementgroup">
                                <span class="fab fa-github"></span> GetElementgroup </a>
                        </li>
                         <li class="nav-item">
                            <!-- <a class="nav-link" href="https://github.com/..."><span class="fab fa-github"></span> Source</a> -->
                            <a class="nav-link" href="/site_detection">
                                <span class="fab fa-github"></span> site_detection </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="testModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="my-3">Run <code class="text-monospace" id="testModalFunc">leak()</code></h5>
                    <p>Test this XS-Leak against your website or endpoint.</p>
                    <div class="input-group-prepend">
                        <button id="runAllTests" class="btn btn-primary" type="button">
                            <span class="fas fa-play"></span>
                        </button>
                        <input type="url" pattern="https?://.+" id="runCustomTestUrl" class="form-control" placeholder="Url to test">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="testing">
        <div class="row mx-2">
            <div class="col-md-12">
                <small>UA: <code id="appVersionField"></code></small>
            </div>
        </div>
    </div>
    <script type="module" src="/static/js/runalltest.js"></script>
</body>
</html>