<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <script>
        window.inclusionMethod = document.createElement('embed')
        window.reloads = 0
        window.inclusionMethod.src = '{{ url | safe }}'
        window.inclusionMethod.onload = () => {
            window.reloads += 1
            setTimeout(() => {
                // second onload ?
                window.inclusionMethod.onload = () => {
                    // stop it
                    window.inclusionMethod.onload = null
                    window.reloads += 1
                }
                // this is not a full reaload if a "normal page is loaded"
            }, 500)
            
            
        }
        
        window.InclusionMethod = () => {
            document.body.appendChild(window.inclusionMethod)
            console.log('[Testcase] InclusionMethod called')
        }
    </script>
</body>
</html>