<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <script>
        var makeEventListener = (srcObj, eventName) => {
            return (event) => {
                if( ! srcObj["events"] )			srcObj["events"] = {}
                if( ! srcObj["events"][eventName] )	srcObj["events"][eventName] = []
                // overwrite timeStamp
                Object.defineProperty(event, 'timeStamp', {})
                // add event so we can crawl it
                srcObj["events"][eventName].push(event)
                console.log(`[EventListener Module] triggered ${eventName} on ${srcObj}`)
            }
        }


        window.InclusionMethod = async () => {
            try{
                window.inclusionMethod = new EventSource('{{ url | safe }}', {withCredentials: true})
                // for this test we have to add the event listeners manually :/
                window.inclusionMethod.addEventListener('open', makeEventListener(window.inclusionMethod, 'open'))
                window.inclusionMethod.addEventListener('close', makeEventListener(window.inclusionMethod, 'close'))
                window.inclusionMethod.addEventListener('error', makeEventListener(window.inclusionMethod, 'error'))
                window.inclusionMethod.addEventListener('message', makeEventListener(window.inclusionMethod, 'message'))
            } catch (error) {
                window.error = error
            }
            console.log('[Testcase] InclusionMethod called')
        }
        
    </script>
</body>
</html>