<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Security-Policy"
          content="form-action 'none'">
</head>
<body>
    <script>
        window.inclusionMethod = document.createElement('form')
        window.inclusionMethod.action = '{{ url | safe }}'

        window.InclusionMethod = () => {
            console.log('[Testcase]InclusionMethod called')
            document.body.appendChild(window.inclusionMethod)
            window.inclusionMethod.submit();
            
        }
        
    </script>
</body>
</html>