<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <script>
        window.inclusionMethod = document.createElement('object')
        window.reloads = 0
        window.inclusionMethod.data = '{{ url | safe }}'
        window.inclusionMethod.onload = () => {

            window.reloads += 1

            setTimeout(() => {

                window.inclusionMethod.onload = () => {

                    window.inclusionMethod.onload = null
                    window.reloads += 1
                    
                    
                }
                // this is not a full reaload if a "normal page is loaded"
                window.XSL_inclusionMethod.data = window.XSL_inclusionMethod.data + '#1337'
            }, 500)
            
            
        }
        
        window.XSL_runInclusionMethod = () => {
            document.body.appendChild(window.XSL_inclusionMethod)
            console.log('[Testcase] XSL_runInclusionMethod called')
        }
        
    </script>
</body>
</html>