<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <script>
        window.inclusionMethod = document.createElementNS('http://www.w3.org/2000/svg', 'svg')
        let i = document.createElement('image')
        i.setAttributeNS('http://www.w3.org/1999/xlink', 'href', '{{ url | safe }}')
        window.XSL_inclusionMethod.append(i)
        
        
    
        window.InclusionMethod = () => {
            document.body.append(window.inclusionMethod)
            window.inclusionMethod.innerHTML += ""
            console.log('[Testcase] InclusionMethod called')
        }
        
    </script>
</body>
</html>