<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <script>
        var makeEventListener = (srcObj, eventName) => {
            return (event) => {
                if( ! srcObj["events"] )			srcObj["events"] = {}
                if( ! srcObj["events"][eventName] )	srcObj["events"][eventName] = []
                Object.defineProperty(event, 'timeStamp', {})
                srcObj["events"][eventName].push(event)
                console.log(`[EventListener Module] triggered ${eventName} on ${srcObj}`)
            }
        }


        window.XSL_runInclusionMethod = async () => {
            try{
                window.socket = new WebSocket('{{ url | safe }}'.replace(/^(https)/, 'wss'))
                window.socket.addEventListener('open', makeEventListener(window.socket, 'open'))
                window.socket.addEventListener('close', makeEventListener(window.socket, 'close'))
                window.socket.addEventListener('error', makeEventListener(window.socket, 'error'))
                window.socket.addEventListener('message', makeEventListener(window.socket, 'message'))
                
            } catch (error) {
                window.error = error
            }
            console.log('[Testcase] InclusionMethod called')
        }
        
    </script>
</body>
</html>